<ul>
    
    {% for product in products %}
        <li>
            {{product.title}}
            $ {{ product.description }}

        </li>
    {% endfor %}
     

    {% comment %} {% for customer in customers %}
    <li>
        {{ customer.first_name }}
    </li>
        
    {% endfor %} {% endcomment %}

    
    {% comment %} {% for collection in collections %}
    <li>
        {{ collection.title }}
    </li>
        
    {% endfor %} {% endcomment %}


    

    {% comment %} {% for product in products %}
    <li>
        {{ product.title }}
        inventory: {{ product.inventory }}
        
    </li>
    <hr>
    {% endfor %} {% endcomment %}


    {% comment %} <p> {{ order.placed_at }} </p>

    
    {% for order in orders %}
        <li>
            {{ order.placed_at }}
        </li>
    {% endfor %} {% endcomment %}

    
    {% comment %} {% for ordersItem in ordersItems %}
    <li>
        {{ ordersItem }}
        
    {% endfor %} {% endcomment %}

    {% comment %} {{ product.title }} {% endcomment %}
        
        
        
        
        
</ul>