<ul>
    
    {% comment %} {% for product in products %}
        <li>
            {{product.title}}
            price: {{product.unit_price}}<br>
            {{product.collection.id}}
            <p> -------------</p>
        </li>
    {% endfor %}
     {% endcomment %}

    {% comment %} {% for customer in customers %}
    <li>
        {{ customer.first_name }}
    </li>
        
    {% endfor %} {% endcomment %}

    
    {% for collection in collections %}
    <li>
        {{ collection.title }}
    </li>
        
    {% endfor %}
        
        
        
</ul>